# dataRetriever.py
pandas
requests

# LSTMmodel.py
numpy
pandas
scikit-learn
keras

# main.py
httpx
beautifulsoup4
fake_useragent
pandas
psycopg2
fastapi

# model.py
pydantic

# PulseAI.py - Same as LSTMmodel.py

uvicorn
tensorflow
jinja2
beautifulsoup4
lxml