body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a202c;
}
.trading_view-widget-container {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.prediction {
    position: absolute;
    top: 40px;
    color: #D1D4Dc;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    font-size: 14px;
    z-index: 10;
    background-color: #131722;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: auto;
    height: auto;
    display: none;
}
@media (max-width: 768px) {
    .prediction {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .prediction {
        font-size: 10px;
    }
}