<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Econ Chart</title>
    <script src="https://s3.tradingview.com/tv.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="trading_view-widget-container">
        <div class="prediction" id="prediction"></div>
        <div id="tradingview_chart"></div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
